$font-stack: "minion-pro-1","minion-pro-2", "Times New Roman", serif;
$font-text: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
$font-plain: minion-pro-1, minion-pro-2, "Times New Roman", Times;
$font-Verdana: Verdana, "Lucida Grande", Lucida, sans-serif;;
$grey-color: #5c5c5c;
$hover-color: #54a16d;
$white-color: #fff;
$menu-color: #fffeff;
$secmenu-color: #f4f4f4;
$second-block: #cdcdcd;