* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

main {
  background-color: #f7f7f7;
}

h5 {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 25px 0;
}

/* @mixin ...() {

}
@include flex-block(); */
* {
  font-family: "Lato", sans-serif;
}

.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 30px;
}
.header .header__nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header__nav-menu .icon {
  display: none;
}
.header .header__nav-menu .menu__list {
  display: flex;
  text-align: center;
}
.header .header__nav-menu .menu__list a {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  padding-left: 15px;
  line-height: 2.5;
  user-select: none;
}
.header .header__nav-menu .menu__list .menu__item:nth-child(2) {
  margin: 0 32px;
}
.header .header__nav-menu .mobile-menu__list {
  display: none;
}
.header .logo {
  margin: 0 62px;
}

@media only screen and (max-width: 480px) {
  .header .header__nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .header__nav-menu .icon {
    display: inline-block;
    cursor: pointer;
    color: #68676b;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
  }
  .header .header__nav-menu .mobile-menu__list {
    display: none;
  }
  .header .header__nav-menu .menu__list {
    display: none;
  }
  .header .header__nav-menu.open .menu__item {
    display: none;
  }
  .header .header__nav-menu.open .mobile-menu__list {
    display: block;
    position: absolute;
    top: 30%;
    left: 25px;
    border: 1px solid #68676b52;
    border-radius: 15px;
  }
  .header .header__nav-menu.open .mobile-menu__list .mobile-menu__item {
    width: 300px;
    height: 30px;
    background-color: #f1f3f99c;
  }
  .header .header__nav-menu.open .mobile-menu__list a {
    color: #4d4959;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    padding-left: 15px;
    line-height: 2.5;
    user-select: none;
  }
  .header .header__nav-menu.open .mobile-menu__list a:hover {
    color: #7bcbae;
  }
  .header .logo {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 700px) {
  .header__nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__nav-menu span {
    display: none;
    user-select: none;
  }
  .header__nav-menu .menu__list {
    display: flex;
    flex-direction: column;
  }
  .header__nav-menu .mobile-menu__list {
    display: none;
  }
  .header__nav-menu .menu__item {
    display: inline-block;
    line-height: 1.7;
  }
  .header__nav-menu .menu__item:nth-child(2) {
    display: none;
  }
  .header__nav-menu .menu__item a {
    color: #4d4959;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.6px;
  }

  .logo {
    margin: 0 63px;
  }
}
.main__about {
  height: 469px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.main__about p {
  color: #848789;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}

@media only screen and (max-width: 480px) {
  .main__about {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .main__about p {
    color: #848789;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
  }
}
.main__information-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main__information-block .main__description {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px 67px;
  position: relative;
}
.main__information-block .main__description:after {
  content: "";
  border: 13px solid transparent;
  border-top: 13px solid #ffffff;
  position: absolute;
  bottom: -24px;
}
.main__information-block .main__description p {
  color: #848789;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 20px;
}

.main__first-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}

.main__second-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}
.main__second-block .main__photo-block .shape {
  width: 175px;
  height: 155px;
}

.main__third-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
}
.main__third-block .main__photo-block .shape {
  width: 208px;
  height: 68px;
}

.main__photo-block {
  position: relative;
  justify-content: center;
  display: flex;
}
.main__photo-block .mainPhoto {
  width: 100%;
  height: 100%;
}
.main__photo-block .shape {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  width: 113px;
  height: 118px;
}

.main__photo-lowerBlock {
  height: 100%;
}
.main__photo-lowerBlock img {
  width: 100%;
  height: 100%;
}

hr {
  width: 51px;
  height: 1.3px;
  background-color: #f2f2f2;
  border: none;
}

@media only screen and (max-width: 760px) {
  .main__first-block {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }

  .main__second-block {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }

  .main__second-block .main__photo-block {
    grid-row: 2/1;
  }

  .main__third-block {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
  }
}
.main__twitter {
  height: 469px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.main__twitter h5 span {
  color: #848789;
  font-weight: 300;
  letter-spacing: 1.8px;
}
.main__twitter p {
  font-style: italic;
  color: #848789;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}

@media only screen and (max-width: 480px) {
  .main__twitter {
    padding: 20px;
  }
}
.main__shop-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main__shop-gallery .main__first-photoBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__shop-gallery .main__first-photoBlock .lower-pic {
  grid-column: 1/-1;
}
.main__shop-gallery .main__second-photoBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__shop-gallery .main__third-photoBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.main__shop-gallery .main__third-photoBlock .lower-pic {
  grid-column: 1/-1;
}
.main__shop-gallery .small-pic img {
  width: 100%;
  height: 100%;
}
.main__shop-gallery .vertical-pic img {
  width: 100%;
  height: 100%;
}
.main__shop-gallery .lower-pic img {
  width: 100%;
  height: 100%;
}

.main__discover {
  background-color: #282f35;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__discover button {
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  background-color: #282f35;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
}

.main__mailing {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 469px;
  justify-content: center;
  align-items: center;
}
.main__mailing p {
  color: #848789;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  margin: 35px 0;
}
.main__mailing .email-form {
  display: flex;
  height: 155px;
}
.main__mailing .email-form .email-form__input {
  width: 400px;
  padding-left: 25px;
  height: 70px;
  border: 1px solid #d3d7d9;
  background-color: #ffffff;
}
.main__mailing .email-form .email-form__input::placeholder {
  color: #929292;
  font-size: 20px;
  font-style: italic;
}
.main__mailing .email-form .email-form__button {
  width: 126px;
  background-color: #64c29e;
  border: #64c29e;
  color: white;
  font-size: 24px;
  height: 70px;
  margin-left: 8px;
}

@media only screen and (max-width: 640px) {
  .main__mailing {
    width: 100%;
    height: 469px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__mailing p {
    color: #848789;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
    margin: 35px 0;
  }
  .main__mailing .email-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__mailing .email-form .email-form__input {
    width: 400px;
    height: 69px;
    border: 1px solid #d3d7d9;
    background-color: #ffffff;
  }
  .main__mailing .email-form .email-form__input::placeholder {
    color: #929292;
    font-size: 20px;
    font-style: italic;
  }
  .main__mailing .email-form .email-form__button {
    width: 126px;
    background-color: #64c29e;
    border: #64c29e;
    color: white;
    margin-left: 300px;
    font-size: 24px;
    font-weight: 300;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  height: 250px;
  background-color: #f7f7f7;
  align-items: center;
  padding: 20px;
}
footer p {
  color: #848789;
  font-size: 14px;
  font-style: italic;
}
footer p span {
  font-size: 16px;
  font-weight: 700;
}
footer .footer__social img {
  margin: 10px;
}
footer .footer__logo {
  display: flex;
}
footer .footer__logo img {
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    background-color: #f7f7f7;
    align-items: center;
  }
  footer p {
    color: #848789;
    font-size: 14px;
    font-style: italic;
  }
  footer p span {
    font-size: 16px;
    font-weight: 700;
  }
  footer img {
    margin-left: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
