@media only screen and (max-width : 1010px) {
    .nav_menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav_logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .nav_bth {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .phone_numbers {
        text-align: center;
    }
    .phone_numbers ul .phone:last-child {
        margin-left: 25px;
    }

    .delivery {
        text-align: center;
    }
    .services_block {
        display: flex;
        align-items: center;
    }
    .service {
        height: auto;
        width: 300px;
        background: rgba(119, 119, 119, 0.4);
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .services_plan {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: #FFFFFF;
    }


    .rate_selection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px; 
    }
    .rates {
        width: 350px;
        margin: 0 5px 7px 0;
    }
    .rates_contain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right_pic {
        padding: 0;
    }
    .lower {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 52px;
    }
    .lower div:last-child {
        margin-top: 20px;
        display: flex;
        align-items: baseline;
        padding-left: 40px;
    }   
    .routes_section {
        padding: 0 98px;
        height: auto;
        margin-bottom: 121px;
    }

    .variant_section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        padding: 40px 0 40px 0;
    }
    .variant_contain {
        display: flex;
        align-items: center;
        flex-direction: column;
     }
    .variant_block {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: static;
     }
     .variant_contein-title {
        order: -1;
     }
     .variant_title {
        font-weight: 500;
        font-size: 28px;
        padding: 0;
        text-align: center;
    }
     .variant_contain div:nth-child(-n+2) {
        margin-bottom: 20px;
     }
}

@media only screen and (max-width : 991px) {
    .right_pic {
        display: none;
    }
}
@media only screen and (max-width : 870px) {
    .routes_block {
        flex-wrap: wrap;
    }
    .start_block {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width : 770px) {
    header{
        position: relative;
    }
    .nav_menu {
        width: 100%;
    }
    .nav_logo {
        align-items: baseline;
        flex-direction: row;
        justify-content: space-between;
    }
    .menu_list, .phone_numbers{
        display: none;
    }
    .nav_bth {
        padding: 0;
        align-items: start;
        margin: 0;
    }
    .icon_menu {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    .nav_menu.open .mobile-menu__list {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100px;
        background: #524f4ff7;
        border-radius: 4px;
        padding: 10px;
        z-index: 1;
        align-items: center;
    }
    .menu_item {
        height: 30px;
        text-align: center;
        border-bottom: 1px solid #5e5e5e61;
        width: 100%;
    }
    .services_block {
        display: flex;
        width: 100%;
     }
    .services_plan {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        width: 100%;
        align-items: center;
     }
     .service {
        width: 100%;
        margin: 0 0 10px 0;
     }
    .left_pic  {
        text-align: center;
    }
    .contact_block {
        padding: 0;
        margin-top: 20px;
    }
    .footer_info div:last-child {
        text-align: end;
    }
}


@media only screen and (min-width : 350px) and (max-width : 600px) {
    header {
        height: auto;
    }
    .delivery {
        padding-bottom: 20px;
    }
    .start_block button {
        width: 100%;
        height: auto;
     }
     .title_routes {
        text-align: center;
     }
     .benefits_block {
        flex-direction: column;
     }
    .variant_contein-title {
        margin-top: 20px;
    }
    .contact_block  {
        padding: 20px;
    }
    .lower {
        flex-direction: column;
    }
    .lower-menu_list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .lower-phone_numbers {
        flex-direction: column;
    }
     .footer_info {
        flex-direction: column;
    }
    .footer_info p {
        text-align: center;
    } 
    .lower div:last-child {
        align-items: center;
        padding: 0;
    }
}