@font-face {
  font-family: 'fontello';
  src: url('icons/files/fontello.eot?80555544');
  src: url('icons/files/fontello.eot?80555544#iefix') format('embedded-opentype'),
       url('icons/files/fontello.woff2?80555544') format('woff2'),
       url('icons/files/fontello.woff?80555544') format('woff'),
       url('icons/files/fontello.ttf?80555544') format('truetype'),
       url('icons/files/fontello.svg?80555544#fontello') format('svg');
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

}

.icon-angle-right:before { content: '\f105'; padding: 10px; }
.icon-facebook-squared:before { content: '\f308'; font-size: 25px; } 
.icon-twitter-rect:before { content: '\f314'; font-size: 30px;} 

