@media screen and (min-width: 600px) {
html {
	overflow: hidden;
}
main {
	display: flex;
	flex-direction: row;
	height: 658px;
	width: auto;
}
.project-block {
	padding-right: 10px;
	flex: 1;
	position: relative;
	.repeat {display: none;}	
	.project-photo {
	 	height: 100%;
		background-image: url("../../../YuliaBilchinskaya.github.io/Andersson-wise/img/SCHOOL.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;	
	}
	.project-menu {
		position: absolute;
		width: 400px;
		height: 550px;
		@include flex-block();
		padding: 50px;
		.nav-menu {
			width: 130px;
			height: 130px;
			background-color: $menu-color;
    		opacity: 0.95;
    		padding: 20px;
    		a {
    			font: 11px $font-stack;
    			line-height: 11px;
    			color: $grey-color;
    			text-transform: uppercase;
    			&:hover {
    				color: $hover-color;
    				transition: 0.3s;
    			}
    		}
    		.title {
    			padding-bottom: 10px;
    		}
		}
		.project-location {
			width: 500px;
			text-shadow: 1px 1px 3px #000;
			h2 > a {
				font: lighter 18px $font-stack;
				color: $white-color;
    			text-transform: uppercase;
    			letter-spacing: 1px;
			}
			h3 > a {
    			color: $white-color;
    			text-transform: uppercase;
    			font: bold 10px $font-text;
    			letter-spacing: 1px;
			}

		}
	}
}
}

@media (min-width: 600px) and (max-width: 895px) {
html {
	overflow-y: scroll;
}	
main {
	flex-direction: column;
	height: auto;
	max-width: 895px;
}
.project-block {
	height: 500px;
	width: 100%;
	padding: 0;
	.project-menu {
		height: 400px;
	}
}
}







