@media screen and (max-width: 600px) {
.secondary-blocks {
	width: 100%;
	padding-bottom: 20px;
	.mass-media {
		background-color: $white-color;
		margin-bottom: 20px;
		padding: 10px;
		h4 > a {
			color: $grey-color;
    		font: lighter 11px $font-stack;
    		color: #555;
    		text-transform: uppercase;
		}
		.icon-angle-right, h4 {
			display: inline;
		}
	}
	.info-block {
		background-color: $white-color;
		padding: 20px;
		font-size: 15px;
    	line-height: 23px;
		p {
			color: $grey-color;
			font-family: $font-stack;
		}
		.logo {
			display: none;
		}
	}
}
}
