@media screen and (min-width: 600px) { 
.secondary-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  .mass-media {
      width: 330px;
      height: 283px;
      background-color: #051e00;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 1px;
      cursor: pointer;
      padding: 20px;
      &:hover {
        background-color: #000;
        transition: background-color 0.4s;
        opacity: 1;
      }
      h4 > a {
       font-size: 12px;
       line-height: 40px;
       text-transform: uppercase;
       font-weight: lighter;
       color: $second-block;
       font-family: $font-text;       
        .text-center {
          display: block;
          font-size: 24px;
          line-height: 28px;
          font-family: $font-plain;
          text-transform: uppercase;
          font-weight: lighter; 
        }
    }
  }
  .info-block {
      width: 330px;
      height: 283px;
      padding: 20px;
      background-color: #0c0c0c;
  .text {
    width: 260px;
    margin: 0 auto;
    p {
      color: $second-block;
      font-size: 14px;
      line-height: 27px;  
    }
      .logo {
        padding-bottom: 10px;
      }
    }
}
}
.icon-angle-right {display: none;}
}

@media (min-width: 600px) and (max-width: 895px) {
  .secondary-blocks {
    flex-direction: row;
    width: 100%;
    height: auto;
  .mass-media {
      width: 50%;
      height: 250px;
  }
  .info-block {
      width: 50%;
      height: 250px;
    }
}
}
