footer {
    display: flex;
    justify-content: space-around;
    height: 250px;
    background-color: #f7f7f7;
    align-items: center;
    padding: 20px;
    p {
        color: #848789;
        font-size: 14px;
        font-style: italic;
        span {
            font-size: 16px;
            font-weight: 700;
        }
    }
    .footer__social {
    img {
        margin: 10px;
    }
}
    .footer__logo {
        display: flex;
        img {
            margin-left: 10px;
        }
    }
}


@media only screen and (max-width : 480px) { 
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 250px;
        background-color: #f7f7f7;
        align-items: center;
        p {
            color: #848789;
            font-size: 14px;
            font-style: italic;
            span {
                font-size: 16px;
                font-weight: 700;
            }
        }
        img {
            margin-left: 10px;
        }
    }
}