.main__about {
    height: 469px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    p {
        @include paragraph();
    }
}

@media only screen and (max-width : 480px) {
    .main__about {
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        p {
            @include paragraph();
        }
    }
}