@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("icons/files/fontello.eot?80555544");
  src: url("icons/files/fontello.eot?80555544#iefix") format("embedded-opentype"), url("icons/files/fontello.woff2?80555544") format("woff2"), url("icons/files/fontello.woff?80555544") format("woff"), url("icons/files/fontello.ttf?80555544") format("truetype"), url("icons/files/fontello.svg?80555544#fontello") format("svg");
}
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.icon-angle-right:before {
  content: "";
  padding: 10px;
}

.icon-facebook-squared:before {
  content: "";
  font-size: 25px;
}

.icon-twitter-rect:before {
  content: "";
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #000;
    max-width: 600px;
    height: auto;
    padding: 20px;
  }

  .project-block {
    width: 100%;
  }
  .project-block .project-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }
  .project-block .project-menu .nav-menu {
    height: 90px;
  }
  .project-block .project-menu .nav-menu .headline {
    height: 45px;
    background-color: #fffeff;
  }
  .project-block .project-menu .nav-menu .headline .title {
    padding: 20px;
  }
  .project-block .project-menu .nav-menu .menu {
    background-color: #f4f4f4;
    text-transform: uppercase;
  }
  .project-block .project-menu .nav-menu .menu li {
    display: inline-block;
    padding-left: 15px;
  }
  .project-block .project-menu .nav-menu .menu li a {
    line-height: 35px;
    font-size: 10px;
    color: #5c5c5c;
  }
  .project-block .project-menu .nav-menu .menu li a:hover {
    color: #54a16d;
    transition: 0.3s;
  }
  .project-block .project-menu .project-location {
    height: auto;
    padding-bottom: 20px;
  }
  .project-block .project-menu .project-location h2 > a {
    font: lighter 18px "minion-pro-1", "minion-pro-2", "Times New Roman", serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .project-block .project-menu .project-location h3 > a {
    color: #fff;
    text-transform: uppercase;
    font: bold 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: 1px;
  }
  .project-block .project-photo {
    width: 100%;
    height: 420px;
    margin: 0 auto;
    background-image: url("C:/Users/pk/Desktop/FinalWork/Final-Work-CSS-HTML-/Andersson-wise/img/SCHOOL.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .project-block .repeat {
    height: auto;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
  }
  .project-block .repeat a {
    font: 11px "minion-pro-1", "minion-pro-2", "Times New Roman", serif;
    line-height: 11px;
    color: #5c5c5c;
    text-transform: uppercase;
  }
  .project-block .repeat .icon-angle-right, .project-block .repeat a {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  .secondary-blocks {
    width: 100%;
    padding-bottom: 20px;
  }
  .secondary-blocks .mass-media {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
  }
  .secondary-blocks .mass-media h4 > a {
    color: #5c5c5c;
    font: lighter 11px "minion-pro-1", "minion-pro-2", "Times New Roman", serif;
    color: #555;
    text-transform: uppercase;
  }
  .secondary-blocks .mass-media .icon-angle-right, .secondary-blocks .mass-media h4 {
    display: inline;
  }
  .secondary-blocks .info-block {
    background-color: #fff;
    padding: 20px;
    font-size: 15px;
    line-height: 23px;
  }
  .secondary-blocks .info-block p {
    color: #5c5c5c;
    font-family: "minion-pro-1", "minion-pro-2", "Times New Roman", serif;
  }
  .secondary-blocks .info-block .logo {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  html {
    overflow: hidden;
  }

  main {
    display: flex;
    flex-direction: row;
    height: 658px;
    width: auto;
  }

  .project-block {
    padding-right: 10px;
    flex: 1;
    position: relative;
  }
  .project-block .repeat {
    display: none;
  }
  .project-block .project-photo {
    height: 100%;
    background-image: url("C:/Users/pk/Desktop/FinalWork/Final-Work-CSS-HTML-/Andersson-wise/img/SCHOOL.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .project-block .project-menu {
    position: absolute;
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
  }
  .project-block .project-menu .nav-menu {
    width: 130px;
    height: 130px;
    background-color: #fffeff;
    opacity: 0.95;
    padding: 20px;
  }
  .project-block .project-menu .nav-menu a {
    font: 11px "minion-pro-1", "minion-pro-2", "Times New Roman", serif;
    line-height: 11px;
    color: #5c5c5c;
    text-transform: uppercase;
  }
  .project-block .project-menu .nav-menu a:hover {
    color: #54a16d;
    transition: 0.3s;
  }
  .project-block .project-menu .nav-menu .title {
    padding-bottom: 10px;
  }
  .project-block .project-menu .project-location {
    width: 500px;
    text-shadow: 1px 1px 3px #000;
  }
  .project-block .project-menu .project-location h2 > a {
    font: lighter 18px "minion-pro-1", "minion-pro-2", "Times New Roman", serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .project-block .project-menu .project-location h3 > a {
    color: #fff;
    text-transform: uppercase;
    font: bold 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: 1px;
  }
}
@media (min-width: 600px) and (max-width: 895px) {
  html {
    overflow-y: scroll;
  }

  main {
    flex-direction: column;
    height: auto;
    max-width: 895px;
  }

  .project-block {
    height: 500px;
    width: 100%;
    padding: 0;
  }
  .project-block .project-menu {
    height: 400px;
  }
}
@media screen and (min-width: 600px) {
  .secondary-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .secondary-blocks .mass-media {
    width: 330px;
    height: 283px;
    background-color: #051e00;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 20px;
  }
  .secondary-blocks .mass-media:hover {
    background-color: #000;
    transition: background-color 0.4s;
    opacity: 1;
  }
  .secondary-blocks .mass-media h4 > a {
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #cdcdcd;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  }
  .secondary-blocks .mass-media h4 > a .text-center {
    display: block;
    font-size: 24px;
    line-height: 28px;
    font-family: minion-pro-1, minion-pro-2, "Times New Roman", Times;
    text-transform: uppercase;
    font-weight: lighter;
  }
  .secondary-blocks .info-block {
    width: 330px;
    height: 283px;
    padding: 20px;
    background-color: #0c0c0c;
  }
  .secondary-blocks .info-block .text {
    width: 260px;
    margin: 0 auto;
  }
  .secondary-blocks .info-block .text p {
    color: #cdcdcd;
    font-size: 14px;
    line-height: 27px;
  }
  .secondary-blocks .info-block .text .logo {
    padding-bottom: 10px;
  }

  .icon-angle-right {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 895px) {
  .secondary-blocks {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
  .secondary-blocks .mass-media {
    width: 50%;
    height: 250px;
  }
  .secondary-blocks .info-block {
    width: 50%;
    height: 250px;
  }
}

/*# sourceMappingURL=HomePage.css.map */
