@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("icons/files/fontello.eot?80555544");
  src: url("icons/files/fontello.eot?80555544#iefix") format("embedded-opentype"), url("icons/files/fontello.woff2?80555544") format("woff2"), url("icons/files/fontello.woff?80555544") format("woff"), url("icons/files/fontello.ttf?80555544") format("truetype"), url("icons/files/fontello.svg?80555544#fontello") format("svg");
}
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.icon-angle-right:before {
  content: "";
  padding: 10px;
}

.icon-facebook-squared:before {
  content: "";
  font-size: 25px;
}

.icon-twitter-rect:before {
  content: "";
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* sass --watch Press.scss Press.css */
@media screen and (min-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }

  body {
    background-color: #dedede;
    width: 100%;
    height: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
  }

  .project-menu {
    width: 170px;
    height: 300px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-menu .nav-menu {
    width: 130px;
    height: 140px;
    background-color: #fffeff;
    opacity: 0.95;
    padding: 20px;
  }
  .project-menu .nav-menu a {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    line-height: 19px;
    color: #5c5c5c;
  }
  .project-menu .nav-menu a:hover {
    color: #54a16d;
  }
  .project-menu .nav-menu .title {
    padding-bottom: 10px;
  }
  .project-menu .category-menu {
    width: 150px;
    height: auto;
  }
  .project-menu .category-menu h4 {
    color: #538664;
    text-transform: uppercase;
    letter-spacing: 1px;
    font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    padding-bottom: 10px;
  }
  .project-menu .category-menu a {
    color: #5c5c5c;
    line-height: 23px;
    font-size: 13px;
  }
  .project-menu .category-menu a:hover {
    color: #54a16d;
  }
}
@media screen and (min-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }

  .news-holder {
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    color: #5c5c5c;
    padding: 50px;
    margin: 0 auto;
  }
  .news-holder h2 {
    font-size: 26px;
    border-bottom: 5px solid #444;
    color: #444;
    height: 50px;
    width: 100%;
    font-weight: inherit;
  }
  .news-holder .news-item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 5px solid #444;
  }
  .news-holder .news-item .date-news {
    height: 75px;
  }
  .news-holder .news-item .date-news .date {
    border-radius: 50%;
    border: 1px solid #888;
    width: 65px;
    height: 52px;
    text-align: center;
    font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #5c5c5c;
    padding-top: 13px;
    text-transform: uppercase;
  }
  .news-holder .news-item .date-news .date span {
    line-height: 31px;
    font: 31px minion-pro-1, minion-pro-2, "Times New Roman", Times;
    letter-spacing: 1px;
    color: #5c5c5c;
  }
  .news-holder .news-item h3 {
    margin: 0;
    font-size: 19px;
    border-bottom: 1px solid #444;
    line-height: 35px;
    font-weight: lighter;
  }
  .news-holder .news-item h3 a {
    color: #444;
  }
  .news-holder .news-item .item-details {
    text-transform: uppercase;
    color: #5c5c5c;
    font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    padding-top: 5px;
  }
  .news-holder .news-item .article {
    padding: 20px 0 20px 0;
  }
  .news-holder .news-item .article img {
    float: left;
    margin-right: 30px;
    margin-top: 5px;
  }
  .news-holder .news-item .article p {
    line-height: 24px;
    font-size: 15px;
  }
  .news-holder .news-item .item-sharing {
    width: 100%;
  }
  .news-holder .news-item .item-sharing div {
    display: inline-block;
  }
  .news-holder .news-item .item-sharing .item-source {
    width: 300px;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 12px;
    background: #e8e8e8;
    cursor: pointer;
  }
  .news-holder .news-item .item-sharing .item-source a {
    color: #555;
  }
  .news-holder .news-item .item-sharing .item-source:hover {
    transition: 0.3s;
    background-color: rgba(119, 119, 119, 0.3);
  }
  .news-holder .news-item .item-sharing .facebook, .news-holder .news-item .item-sharing .twitter {
    background-color: #777;
    text-align: center;
    width: 25px;
    font-size: 13px;
    line-height: 25px;
    font-family: Verdana, "Lucida Grande", Lucida, sans-serif;
    cursor: pointer;
  }
  .news-holder .news-item .item-sharing .facebook:hover, .news-holder .news-item .item-sharing .twitter:hover {
    background-color: #555;
    transition: 0.3s;
  }
  .news-holder .news-item .item-sharing .facebook a, .news-holder .news-item .item-sharing .twitter a {
    color: #fff;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: #e5e5e5;
    width: 600px;
  }

  .project-menu {
    width: 100%;
    height: 130px;
    padding-top: 20px;
  }
  .project-menu .nav-menu {
    margin: 0 auto;
    height: 90px;
    width: 550px;
  }
  .project-menu .nav-menu .headline {
    height: 45px;
    background-color: #fffeff;
  }
  .project-menu .nav-menu .headline .title {
    padding: 20px;
  }
  .project-menu .nav-menu .menu {
    height: 35px;
    background-color: #f4f4f4;
    text-transform: uppercase;
  }
  .project-menu .nav-menu .menu li {
    display: inline-block;
    padding-left: 15px;
  }
  .project-menu .nav-menu .menu li a {
    text-decoration: none;
    line-height: 34px;
    font-size: 10px;
    color: #5c5c5c;
  }
  .project-menu .nav-menu .menu li a:hover {
    color: #54a16d;
    transition: 0.3s;
  }
  .project-menu .category-menu {
    margin: 0 auto;
    width: 550px;
  }
  .project-menu .category-menu li {
    display: inline-block;
    padding-left: 15px;
  }
  .project-menu .category-menu li a {
    text-decoration: none;
    line-height: 34px;
    font-size: 13px;
    color: #5c5c5c;
  }
  .project-menu .category-menu li a:hover {
    color: #54a16d;
    transition: 0.3s;
  }
  .project-menu .category-menu h4 {
    display: none;
  }

  .news-holder {
    width: 510px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    color: #555;
    margin: 0 auto;
    padding: 20px;
  }
  .news-holder h2 {
    font-size: 22px;
    border-bottom: 4px solid #5c5c5c;
    color: #5c5c5c;
    height: 40px;
    width: 100%;
    font-weight: inherit;
    font-style: inherit;
  }
  .news-holder .news-item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 5px solid #5c5c5c;
  }
  .news-holder .date-news {
    display: none;
  }
  .news-holder h3 {
    margin: 0;
    font-size: 17px;
    border-bottom: 1px solid #5c5c5c;
    line-height: 25px;
    font-weight: lighter;
  }
  .news-holder h3 a {
    color: #5c5c5c;
  }
  .news-holder .item-details {
    text-transform: uppercase;
    color: #5c5c5c;
    font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    padding: 10px 0 10px 0;
  }
  .news-holder .article {
    padding: 20px 0 20px 0;
  }
  .news-holder .article img {
    float: left;
    margin-right: 30px;
    margin-top: 5px;
  }
  .news-holder .article p {
    line-height: 24px;
    font-size: 15px;
  }
  .news-holder .item-sharing {
    width: 100%;
  }
  .news-holder .item-sharing div {
    display: inline-block;
  }
  .news-holder .item-sharing .item-source {
    width: 300px;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 12px;
    background: #e8e8e8;
    cursor: pointer;
  }
  .news-holder .item-sharing .item-source a {
    color: #555;
  }
  .news-holder .item-sharing .item-source:hover {
    transition: 0.3s;
    background-color: rgba(119, 119, 119, 0.3);
  }
  .news-holder .item-sharing .facebook, .news-holder .item-sharing .twitter {
    background-color: #777;
    text-align: center;
    width: 25px;
    font-size: 13px;
    line-height: 25px;
    font-family: Verdana, "Lucida Grande", Lucida, sans-serif;
    cursor: pointer;
  }
  .news-holder .item-sharing .facebook:hover, .news-holder .item-sharing .twitter:hover {
    background-color: #555;
    transition: 0.3s;
  }
  .news-holder .item-sharing .facebook a, .news-holder .item-sharing .twitter a {
    color: #fff;
  }
}

/*# sourceMappingURL=Press.css.map */
