@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("icons/files/fontello.eot?80555544");
  src: url("icons/files/fontello.eot?80555544#iefix") format("embedded-opentype"), url("icons/files/fontello.woff2?80555544") format("woff2"), url("icons/files/fontello.woff?80555544") format("woff"), url("icons/files/fontello.ttf?80555544") format("truetype"), url("icons/files/fontello.svg?80555544#fontello") format("svg");
}
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.icon-angle-right:before {
  content: "";
  padding: 10px;
}

.icon-facebook-squared:before {
  content: "";
  font-size: 25px;
}

.icon-twitter-rect:before {
  content: "";
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@media screen and (max-width: 600px) {
  body {
    background-color: #000;
    max-width: 600px;
    height: auto;
    padding: 20px;
  }

  .project-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }
  .project-menu .nav-menu {
    height: 90px;
  }
  .project-menu .nav-menu .headline {
    height: 45px;
    background-color: #fffeff;
  }
  .project-menu .nav-menu .headline .title {
    padding: 20px;
  }
  .project-menu .nav-menu .menu {
    height: 35px;
    background-color: #f4f4f4;
    text-transform: uppercase;
  }
  .project-menu .nav-menu .menu li {
    display: inline-block;
    padding-left: 15px;
  }
  .project-menu .nav-menu .menu li a {
    line-height: 34px;
    font-size: 10px;
    color: #5c5c5c;
  }
  .project-menu .nav-menu .menu li a:hover {
    color: #54a16d;
    transition: 0.3s;
  }
  .project-menu .menu {
    height: 35px;
    background-color: #f4f4f4;
    text-transform: uppercase;
  }
  .project-menu .menu li {
    display: inline-block;
    padding-left: 15px;
  }
  .project-menu .menu li a {
    text-decoration: none;
    line-height: 34px;
    font-size: 10px;
    color: #5c5c5c;
  }
  .project-menu .menu li a:hover {
    color: #54a16d;
    transition: 0.3s;
  }

  .category-menu {
    display: none;
  }
}
.Projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
.Projects .photo {
  width: 130px;
  height: 130px;
  position: relative;
  padding-top: 20px;
}
.Projects .photo a > img {
  width: 128px;
  height: 128px;
  cursor: pointer;
}
.Projects .photo p {
  top: 0;
  width: 100%;
  height: 90px;
  position: absolute;
  color: #fffeff;
  text-align: center;
  transition: 0.5s ease;
  opacity: 0;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  padding-top: 60px;
}
.Projects .photo p span {
  color: #fffeff;
  text-transform: uppercase;
  font: bold 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 10px;
}
.Projects .photo:hover p {
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 600px) {
  body {
    background-color: #000;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
  }

  .project-menu {
    width: 190px;
    height: 390px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-menu .nav-menu {
    width: 130px;
    height: 140px;
    background-color: #fffeff;
    opacity: 0.95;
    padding: 20px;
  }
  .project-menu .nav-menu a {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    line-height: 19px;
    color: #5c5c5c;
  }
  .project-menu .nav-menu a:hover {
    color: #54a16d;
  }
  .project-menu .nav-menu .title {
    padding-bottom: 10px;
  }
  .project-menu .category-menu {
    width: 150px;
    height: 170px;
  }
  .project-menu .category-menu h4 {
    color: #54a16d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font: 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    padding-bottom: 10px;
  }
  .project-menu .category-menu a {
    color: #fffeff;
    line-height: 23px;
    font-size: 13px;
  }
  .project-menu .category-menu a:hover {
    color: #54a16d;
  }
  .project-menu .category-menu i {
    display: none;
  }
  .project-menu .category-menu li:active .icon-angle-right {
    display: inline-block;
    color: #54a16d;
  }

  .Projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 50px;
  }
  .Projects .photo {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 0;
  }
  .Projects .photo a > img {
    width: 180px;
    height: 180px;
  }
  .Projects .photo p {
    top: 0;
    width: 180px;
    height: 120px;
    position: absolute;
    color: #fffeff;
    text-align: center;
    transition: 0.5s ease;
    opacity: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .Projects .photo p span {
    color: #fffeff;
    text-transform: uppercase;
    font: bold 10px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 10px;
  }
  .Projects .photo:hover p {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
  }
}

/*# sourceMappingURL=Projects.css.map */
